@use 'base' as b;

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media only screen and (max-width: b.$bp-largest) {
    margin: 0;
    max-width: 150rem; //since 1rem is now only 8px, to keep the original size of 1200px we need 150rem to prevent the container from shrinking and background shouwing at the side //
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  @media only screen and (max-width: b.$bp-medium) {
    flex-direction: column; //to move sidebar on top of main part //
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;
  display: flex;
  border-bottom: var(--line);

  @media only screen and (max-width: b.$bp-medium) {
    padding: 3rem;
  }
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);

  @media only screen and (max-width: b.$bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
}

.user-reviews {
  background-color: #fff;
  flex: 1;
}

.cta {
  text-align: center;
  background-color: #fff;
  padding: 3.5rem 0;
}
